// compileCompressed

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  background-color: #fff;
  color: #000;
  line-height: 1.5;
}

.header {
  display: block;
  padding: 15px;
  border-bottom: solid 1px #ddd;
  background-color: #fff;
  margin-bottom: 20px;
}

.footer {
  display: block;
  padding: 15px;
  background-color: #000;
  color: #fff;
  margin-top: 20px;
}
